:root {
  --text-color: #ffffff;
  --background: #232a31;
  --background-2: #9e9e9e;
  --background-3: #383b3f;
  --background-hover: #F1DAC4;
  --background-bloe: #8286c9;
  --background-shafaf: #ffffff00;
  --background-main: url(images/background-2.jpg) ;
}

.light-Mode {
  --text-color: #000000;
  --background: #e2e2e2;
  --background-2: #f5f5f5;
  --background-hover: #F1DAC4;
  --background-bloe: #8286c9;
  --background-main: url(images/background.jpg) ;
  --background-shafaf: #ffffff00;
}
*{
    font-family: system-ui;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}

::selection {
    background-color: #9b8d7f94;
}

.theme {
  background-color: var(--background-shafaf);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 35px;
  left: 100px;
}

.theme:hover {
  cursor: pointer;
}

.moon {
  font-size: 30px;
  margin: 5%;
  color: #146ebe;
  display: none;
}

.sun {
  font-size: 30px;
  margin: 5px;
  color: #beaa14;
}

.light-Mode .sun {
  display: none;
}

.light-Mode .moon {
  display: block;
}

body {
    background: var(--background-2);
}

.login {
    background-color: var(--background-3);
    width: 230px;
    height: 300px;
    border-radius: 10px;
    position: fixed;
    transform: translate(230% , 50%);
}

#name {
    background-color: var(--background-2);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    margin: 10px 40px;

}
#email {
    background-color: var(--background-2);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    margin: 10px 40px;
}
#password {
    background-color: var(--background-2);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    margin: 10px 40px;
}

.btn-login {
    margin: 10px 55px;
    padding: 5px 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: var(--background-bloe);
}

.btn-login:hover {
    background: var(--background-hover);
    transition: 1s;
}

i {
  padding: 30px 90px ;
  font-size: 50px;
  color: var(--background-2);
}
